<div class="bg-dark side-menu" id="navigator">

  <div class="p-4 px-lg-0"> 
    <section class="profile-name d-flex align-items-center justify-content-center justify-content-lg-start">
      <figure class="m-0">
        <div class="profile-picture mx-auto" id="profile">
            <%= current_user_photo %>
        </div>
      </figure>
      <div>
        <strong class="text-semi ml-4"><%= current_user&.fullname %></strong>
      </div>
    </section>

  <section class="follow-info row">
    <div class="following col-6 text-center pt-3 pb-3">
      <strong class="text-semi d-block">
        <%=current_user&.following_count%>
      </strong>
      <small class="text-semi">Following</small>
    </div>

    <div class="followers col-6 text-center pt-3 pb-3">
      <strong class="text-semi d-block">
        <%=current_user&.followers_count%>
      </strong>
      <small class="text-semi">Followers</small>
    </div>
  </section>

  <section>
    <ul class="nav side-nav flex-column text-center font-weight-bold text-uppercase">
      <li class="pt-4 pb-3 text-semi">
        <i class="fas fa-home mr-3"></i>
        <%= link_to "Home", root_path , class: 'text-semi'%>
      </li>
      
      <li class="pt-4 pb-3 text-semi">
        <i class="fas fa-at mr-3"></i>
        <%= link_to "Connent", "#" , class: 'text-semi'%>
      </li>
      
      <li class="pt-4 pb-3 text-semi">
        <i class="fas fa-hashtag mr-3"></i>
        <%= link_to "Discover", "#" , class: 'text-semi'%>
      </li>
      
      <li class="pt-4 pb-3 text-semi">
        <i class="fas fa-user-alt mr-3"></i>
        <%= link_to "Profile", user_path(current_user) , class: 'text-semi'%>
      </li> 

      <li class="pt-4 pb-3 text-semi">
        <i class="fas fa-sign-out-alt mr-3"></i> 
        <%= link_to 'Logo Out', logout_path, method: :delete, class: 'text-semi'%>
      </li>
    </ul>
  </section>
  </div>
</div>


